@charset "utf-8";

* {margin: 0; padding: 0;}
body, html { width: 100%; min-width: 1280px; font-family: 'Nanum Gothic', sans-serif; background: #f2f3f7}
ul { list-style: none;}
a {text-decoration: none;}
.wrap {width: 100%; }
.hd {width: 100%; clear: both;}
.hd_wrap {display: block; width: 1280px; height: 70px; margin: 0 auto; text-align: center; margin-top: 50px;}
.contents { clear: both; display: block; width: 1280px; height: 300px; margin: 0 auto; text-align: center; border-bottom: 1px solid #e0e5f2;}
.login_box {width: 400px; margin: 0 auto;}
.login_id { width: 400px; height: 50px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 16px; text-indent: 20px;}
.login_pw { width: 400px;height: 50px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; font-size: 16px; text-indent: 20px;}
.save_id {clear: both; display: block; text-align: left; width: 400px; margin-top: 20px;}
.login_btn {clear: both; display: block; width: 400px; height: 30px; background: #4074d5; margin-top: 20px; line-height: 2; border-radius: 15px; color: white;}
.find_join { clear: both; display: block; width: 400px; height: 50px; margin-top: 20px;}
.find_join li { float: left;}
.find_join li a {color: black; margin-left: 20px;}
.find_join li:nth-child(1)::after {content: "|"; margin-left: 20px;}
.find_join li:nth-child(3)::before {content: "|"; margin-left: 20px;}
.ft {width: 100%;}
.ft_wrap { width: 1280px; margin: 0 auto;}
.ft_ico { width: 210px;height: 40px; margin: 0 auto; margin-top: 20px;}
.ft_ico li { float: left; margin: 0 auto; margin-right: 25px;}
.ft_info {clear: both; display: block; width: 340px; height: 16px; margin: 0 auto;}
.ft_info li {float: left;}
.ft_info li a {color: #898c93; font-size: 13px;}
.ft_info .ft_info_prive {color: #7498dc;}
.ft_info li:nth-child(1)::after {content: "|"; margin-left: 20px; margin-right: 20px;}
.ft_info li:nth-child(3)::before {content: "|"; margin-left: 20px; margin-right: 20px;}
.copyright { clear: both; display: block; margin: 0 auto;width: 150px; color: #898c83; font-size: 10px; margin-top: 20px;}