
@charset "utf-8";

/* Background Colours */

.c_ffffff {color: #ffffff;}
.c_f7f7f9 {color: #f7f7f9;}
.c_cce4f2 {color: #cce4f2;}
.c_ededef {color: #ededef;}
.c_f7776a {color: #f7776a;}
.c_595f6a {color: #595f6a;}
.c_697282 {color: #697282;}
.c_3378c1 {color: #3378c1;}

/* Text Colours */
.c_333333 {color: #333333;}
.c_ffffff {color: #ffffff;}
.c_6e7179 {color: #6e7179;}
.c_0000ee {color: #0000ee;}
.c_3378c1 {color: #3378c1;}
.c_0d0d0d {color: #0d0d0d;}
.c_6e6e6e {color: #6e6e6e;}
.c_72767e {color: #72767e;}

/* Typography */
/* NanumBarunGothic, Dotum, normal, 24px, 36px, #333333 Font, Style, Size, Leading, Colour	
NanumBarunGothic, Dotum, normal, 23px, 30px, #ffffff Font, Style, Size, Leading, Colour	
NanumBarunGothic, Dotum, normal, 14px, 21px, #333333 Font, Style, Size, Leading, Colour	
NanumBarunGothic, Dotum, normal, 12px, 18px, #ffffff Font, Style, Size, Leading, Colour	
NanumBarunGothic, Dotum, normal, 12px, 18px, #333333 Font, Style, Size, Leading, Colour	 */
